assets/databases/emu_database/species_taxid.fasta
assets/databases/emu_database/taxonomy.tsv
assets/databases/test_assets/species_taxid.fasta
assets/databases/test_assets/taxonomy.tsv
assets/databases/krona/taxonomy/images.dmp
assets/databases/krona/taxonomy/taxonomy.tab
assets/emu_db
.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
results*
*log
amrfinderplus/
*sh